@import 'reset.css';
@import 'variables.css';

/**
 * Layout
 */
:root {
  font-family: sans-serif;
}

body {
  margin: 1rem;
  background-color: var(--lgtm-color-dark);
  color: var(--lgtm-color-light);
}

section + section {
  margin-top: 1.5rem;
}

li + li {
  margin-top: 0.25rem;
}

/**
 * Typography
 */
h1 {
  font: var(--lgtm-typography-h1);
}

h2 {
  font: var(--lgtm-typography-h2);
}

h3 {
  font: var(--lgtm-typography-h3);
}

h4 {
  font: var(--lgtm-typography-h4);
}

h5 {
  font: var(--lgtm-typography-h5);
}

h6 {
  font: var(--lgtm-typography-h6);
}

p {
  font: var(--lgtm-typography-p);
}

/**
 * Color
 */
.swatch {
  padding: 0.5rem;
}

/**
 * Space
 */
.space {
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: gray;
}
