/**
 * Layout
 */
:root {
  font-family: sans-serif;
}

body {
  margin: 1rem;
}

section + section {
  margin-top: 1.5rem;
}

li + li {
  margin-top: 0.25rem;
}

/**
 * Typography
 */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

/**
 * Color
 */
.swatch {
  padding: 0.5rem;
}

/**
 * Spacing
 */
.spacing {
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: gray;
}
